/**
 * @name Text Center
 * @author Saruyu
 * @description Centers a lot of text.
*/

/* Profile In DM */
.section_d7a21f.container_c9ccf6,
.customStatus_cb55fc {
    justify-content: center;
    text-align: center;
}

/* USER PROFILE -> LISTS */
.listRow__9d78f {
  border-radius: var(--card-radius);
}
.listRow__9d78f:hover {
  background-color: var(--card-color);
}

._4bd5201c86a2042b-defaultColor, 
._4bd5201c86a2042b-lineClamp2Plus, 
.text-sm-normal__95a78  {
 justify-content: center;
}

._4bd5201c86a2042b-lineClamp2Plus,
.container_afed89,
.userInfoText_a24910,
.body__07791 {
text-align: center;
}

.body_c4a579 {
 justify-content: center;
 text-align: center;
}

[class*="roles_"] {
  justify-content: center;
}

:is(.section_d7a21f, .userInfoSection_a24910) .cf48127484dbde85-eyebrow {
  text-transform: none;
  font-size: 14px;
  display: block;
  text-align: center;
}

.text-sm-normal__95a78,
.text-md-semibold__8664f,
.heading-lg-semibold__58a54 {
text-align: center;
}

.text-md-normal__6e567 {
text-align: center;
}

.scrollerSeparator_d2b491 {
  box-shadow: none;
}

.section_d7a21f:has(.roles_fa2f72:empty), /* no roles */
[class*=userPanelInner_]::before,
.aboutMeGuildIcon_b05b69 /* Profile guild icon */ {
  display: none !important;
}

.lastSection_d7a21f {
  display: none !important;
}

.vc-addon-title,
.vc-addon-author {
text-align: center;
}

/* Active Now Header */
._7d20cf18f8a2784c-header {
  text-align: center; }

/* Reply to bar */
._841c8f861f7b2704-replyBar {
  text-align: center;
}

/* Centers Embed Author Names Etc */
.edefb8e22d63c542-anchor edefb8e22d63c542-anchorUnderlineOnHover,
._623de82e76ad7f82-embedAuthorNameLink,
._623de82e76ad7f82-embedLink,
._623de82e76ad7f82-embedAuthorName {
  justify-content: center;
  text-align: center;
}
._623de82e76ad7f82-gridContainer ._623de82e76ad7f82-embedMargin {
  text-align: center;
  justify-content: center;
}



/* Profile, Vencord Themes Bar */
.vc-settings-tab-bar,
.aa8da23faa27393c-top {
  justify-content: center !important;
}

/* Centers Thread Authors */
._6764bd76e0340219-subtext {
  justify-content: center !important;
}

/* Centers Forum Search Bar */
.d9be463a3c35b91e-title {
  text-align: center !important;

}

