/* Rounded Borders */
.dfa8b6b94cddb191-role,
.textarea_dde0a8,
._740174f3d6a2c8fe-scrollableContainer ,
.inputDefault-3FGxgL,
.c322aadb96ff59c9-searchBar,
._5e434347c823b592-content,
.f7ecaca5c80dbf3a-button,
.d125d22cdfd32cfe-thin  
._506b39a96c2f8884-scrollbarGhostHairline,
._5126c0cd07f243a0-editing,
.b7e1cb0370c2dd0e-giftCodeContainer,
.audioControls_f316dd,
.applicationInstallButton-taCWKH,
.userPopout-2j1gM4,
.container__2692d,
.e8b59c4b335dd2fc-messagesPopoutWrap,
._960ef1e55e284ad3-container,
.mention,
.wrapper_d4fa29,
._2ea32c412048f708-icon,
._084343c4f11eaaab-contentWrapper,
._084343c4f11eaaab-navButton,
._91a9d7f7e5248a56-layout,
._201d5e8a3c09670a-contents,
.searchBar_c0e32c,
.inner_fea832,
.searchBar_fed6d3,
._201d5e8a3c09670a-contents,
.af017ab847f75d02-imageWrapper,
._6c706db0523bd9a7-mosaicItemNoJustify   {
  border-radius: 20px;
}

._299eb87491f4b6d1-spoilerContent {
  border-radius: 20px;
}

/* Rounded Context Menu */
.c1e9c47c23f12ca3-menu {
  border-radius: 20px;
}

/* Pop-out Animation For Emoji Menu */
.c1e9c47c23f12ca3-scroller,
.c0e32c5cffed3d9f-emojiPickerHasTabWrapper,
._960ef1e55e284ad3-container,
.e8b59c4b335dd2fc-messagesPopoutWrap,
._8ef02eea17068b73-header,
.fed6d32841cc2da2-container,
.c8ffbb79449f399c-membersWrap,
.container__2692d,
.userPopout-2j1gM4 {
  animation: custom-menu-animation 250ms ease;
  transform-origin: top;
}

@keyframes custom-menu-animation {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

/* Changes bolded message color */
[class*=messageContent] :is(h1, h2, h3) {
  color: hsl(0, 0%, 100%)
}

[class*=messageContent] strong {
  color: hsl(0, 0%, 81%);
}

/* Make jump to present/jump to original/mark as read bars smaller and hug the right */
._0f481cbbd7530492-newMessagesBar {
  width: fit-content;
  margin-left: auto;
}

/* End make jump to present/jump to original/mark as read bars smaller and hug the right */

/* Hides IN VOICE CALL BUTTON*/
[class^=bar__]:has([class^=voiceChannelsIcon__]) {
  display: none;
}

/* Removes the Show All VC Button */
._29444ba32c7fbeab-refreshVoiceChannelsButton {
  display:none;
}

/* No, I don't want to make a thread from a chain of more than 2 replies */
[class*="threadSuggestionBar_"] {
  display: none;
}


/* Mention Color */
._5126c0cd07f243a0-mentioned  {
  background-color: #5f5a6444;
}

/* Changes the sidebar color of Mentions */
._5126c0cd07f243a0-mentioned:before {
  background-color: #4e4e4e;
}

/* Changes the Border Radius of Mentions */
._5126c0cd07f243a0-mentioned {
  border-radius: 10px;
}

/* Adds color to the guild seperator */
._252b6afd49fda06f-guildSeparator {
  border: 1px;
  border-radius: 20px;
  border-color: #52535b;
  border-style: solid;
}

/* Adds color to the account profile card in settings */
._1fed1dd06c7aabf7-accountProfileCard {
  border: 2px;
  border-radius: 20px;
  border-color: #28282c;
  border-style: solid;
}

/* Removes Call Buttons in DMs */ 
[aria-label="Start Voice Call"], [aria-label="Start Video Call"]
{
    display: none !important;
}

/* Timestamps */
@font-face {
  font-family: "Blank Dot";
  src: url("https://raw.githubusercontent.com/adobe-fonts/adobe-blank/master/AdobeBlank.ttf.woff");
  unicode-range: U+2022;
}



/* Removes New Member Icon */
[class*=newMemberBadge i]{
  display: none;
}

/* Hide Future signups */
[data-list-id="guildsnav"]>div>div>div:has(div[style*="background: url(\"https://cdn.discordapp.com/assets/signups"]) {display:none}

._16eb0bfd5c5a90d1-searchOption::after,
._16eb0bfd5c5a90d1-option::after {
  display: none; 
}

/* Link Colors */

.edefb8e22d63c542-anchor {
   color: rgb(177, 177, 177) !important;
   background-color: transparent
}

.actionsUserPopoutV2__34f7d {
  justify-content: center
}

/* Centers the Status in User Panel */
._37e49614b9f110a9-nameTag ._0263c8321829b3e8-hoverRoll  {
  display: none;
}

._00943886e1cf89d1-largeImage 
{border-radius:4px !important;
} 

.customStatus_cb55fc {
  justify-content: center !important;
}

.a16aea1526925c2c-select {
background-color: var(--background-primary) !important;
border: 0px;
}

.c69b6db0641110f6-containerDefault:hover + ._5b40bdd67543ba35-container {
  max-height: 100%; /* Make the threads Slide down */
  transition: max-height 4s ease; }

._5b40bdd67543ba35-container {
  max-height: 0; /* Initially hide the threads by setting their max-height to 0 */
  overflow: hidden; 
  transition: max-height 4s ease; }


  /* Remove VC Icons */
[class*=iconGroup]:has([class*=hangStatusIcon], svg>path:not([d*='m2.7 22.7 20-20a1'], [d*='M22.7 2.7a1 1']), [class*=gameIcon]) {
  display: none;
}
[class*=layerContainer] [class*=popout]:has([class*=text-xs-medium], [class*=options]){
  display: none;
}

.vc-std-wrapper > div {
  color: transparent !important;
}

.vc-std-wrapper > div > span {
  color: rgb(255, 123, 0);
  font-size: 0.75rem;
  font-weight: 500;
  margin-left: -px;
}

  /* User Area Icon Recolor */
._5e434347c823b592-panels ._5eb9b3cc7c2b1ce8-lottieIcon :not(defs *)[fill][fill-opacity] {
  fill: white;
}
._5eb9b3cc7c2b1ce8-lottieIcon > svg > g > g > g:nth-child(1) > g > g:nth-child(2) > g:nth-child(2) > path {
  stroke: white;
}

[class^="votePercentageBar_"] {
    background-color: rgb(82, 83, 91);
}

/* Removes "Members Since" */ 
.userPopoutOverlayBackground_c69a7b .section_d7a21f:has(.c4eb81cf68103ccf-memberSinceWrapper) {
  display: none;
}

/* Centers the Nametag */
._37e49614b9f110a9-nameTag {
  text-align: center;
}

/* New VC Indicator */
.container_cfbfb9 {
border-radius: 10px !important;
}
.container_be6a5c {
  border-radius: 20px !important;
}
.gradientContainerDark_e286cd,
.image_cfbfb9 {
border-radius: 30px !important;
}
.header_be6a5c {
  justify-content: center !important; 
}

/* Fixes Discord's Shitty Profile Text Color */
._4bd5201c86a2042b-defaultColor,
.customStatusText_cb55fc {
  color: rgba(255, 255, 255, 0.842) !important;
}

.vc-uvs-header {
  text-align: center; 
}

/* Removes the bold on the 'Active Now' header */ 
._7d20cf18f8a2784c-header {
  font-weight: 400 !important;
}

/* Removes the bold on Names */
._0a06ed6ea040aa1b-username  {
  font-weight: 300 !important;
}

.f369dba7416c67f0-matchingPostsRow {
  border-radius: 10px !important;
  margin-top:10px !important;
}

[class="_4bd5201c86a2042b-defaultColor text-sm/normal_dc00ef"] {
  text-align: center !important;
}

.inner_a99829 {
  display: none;
}

._7e549558f336cddb-itemCard {
  background-color: var(--background-secondary);
}

/* Recolors Non-Nitro Profiles */
.biteSizeInnerThemed_c69a7b,
.userProfileModalInner_c69a7b  {
background-color: var(--background-tertiary)
}
.fullSizeOverlayBackground_c69a7b  {
  background-color: rgba(0, 0, 0, 0.452);
}

.fccfdf3cfff21921-root {
margin: 8px 12px;
justify-content: center;
}


._5bc7ed9d4097f6b5-selected {
  background-color: rgb(41, 41, 41) !important; 
}

._6e9f8dce4cc18de3-wrapper:hover ._6e9f8dce4cc18de3-childWrapper, ._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected .childWrapper_f90ab  {
  background-color: rgb(41, 41, 41) !important; 
}

._6e9f8dce4cc18de3-wrapper:hover ._6e9f8dce4cc18de3-childWrapper, ._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper {
    color: var(--white);
    background-color: rgb(41, 41, 41) !important;
}


.f7ecaca5c80dbf3a-button {
  border-radius: 10px;
}

[aria-label="Show User Profile"] {
  display: none;
}

.ae7890a1b8e75804-searchHeader {
  border-radius: 0px;
}


.f37cb1984c371ee5-animatedContainer {
  border-radius: 10px !important;
}

._5be3ef42f92174b2-footer .button_fb7f94  {
  display: none;
}

._63ed30c16c7151f2-nicknameIcons {
  display: none;
}

.multipleButtons_ea99c4 {
  display: none;
}

._7aaec78b97ff00f7-container {
  display: none;
}

.f5f93a5c4078d63c-descriptionClamp ._752971923a1e6683-blockquoteContainer {
  justify-content: center !important;
}

[class="_4bd5201c86a2042b-defaultColor text-sm/normal_dc00ef"] ._752971923a1e6683-blockquoteContainer {
  justify-content: center; 
}

.accountProfilePopoutWrapper__37e49 ._8061a5f9dbf6d829-container {
  display: none;
}

.accountProfilePopoutWrapper__37e49 ._63ed30c16c7151f2-container {
  display: none;
}

/* Removes "X" Button From Family Center */
._972a0d22c8afa7f0-closeIcon, div._972a0d22c8afa7f0-closeButton  {
  display: none !important; 
}


/* Centers Family Center Text */
.dc2e0e7839a6713a-sideNavContent {
  margin: 350px !important;
  margin-top: -30px !important;

}

._972a0d22c8afa7f0-link ._2b1f52e43a8f1c02-numberBadge {
  display: none;
}
._133bf5eea8e33a34-item ._2b1f52e43a8f1c02-numberBadge {
  display: none;
}

.c19a557985eb7793-repliedTextPreview {
  border-radius: 0px !important;
}

.b5493bb5330ab072-card ._4bd5201c86a2042b-defaultColor  {
  text-align: center;
}


/* remove super reactons */
.container__2c264, .e5f2cb44095833d3-effect {
    display: none !important;
}

.ccbbbb5abdaca78b-rowDivider, ._23977d5b7cef7361-burstGlow {
    box-shadow: none !important;
}
._23977d5b7cef7361-reaction, .f8896c4f6be18f59-hideEmoji {
    opacity: 1 !important;
}
._23977d5b7cef7361-reaction._23977d5b7cef7361-shake, .f8896c4f6be18f59-reaction.f8896c4f6be18f59-shakeReaction {
    animation: unset !important;
}@import url(https://minidiscordthemes.github.io/SettingsIcons/SettingsIcons.theme.css);

/* Rounded Borders */
.dfa8b6b94cddb191-role,
.textarea_dde0a8,
._740174f3d6a2c8fe-scrollableContainer,
.inputDefault-3FGxgL,
.c322aadb96ff59c9-searchBar,
._5e434347c823b592-panels,
.f7ecaca5c80dbf3a-wrapper,
.d125d22cdfd32cfe-thin  
._506b39a96c2f8884-scrollbarGhostHairline,
._5126c0cd07f243a0-message,
.embedWrapper_b7e1cb,
.audioControls_f316dd,
.applicationInstallButton-taCWKH,
.userPopout-2j1gM4,
.container__2692d,
.e8b59c4b335dd2fc-messagesPopoutWrap,
.d98031d9a3e08b09-browser,
.mention,
.wrapper_d4fa29,
._2ea32c412048f708-wrapper,
._084343c4f11eaaab-contentWrapper,
._084343c4f11eaaab-navButton,
._91a9d7f7e5248a56-layout,
._201d5e8a3c09670a-button,
.searchBar_c0e32c,
.container_fea832,
.searchBar_fed6d3,
._201d5e8a3c09670a-button,
.af017ab847f75d02-imageWrapper,
._6c706db0523bd9a7-mosaicItemNoJustify   {
  border-radius: 20px;
}

._299eb87491f4b6d1-spoilerContent {
  border-radius: 20px;
}

.profileBadges_f89da9 {
 background: var(--profile-body-background-color) !important; 
 }

/* Removes the Discord writing at the top */
._421edea01cb52e16-wordmarkWindows svg {
  display: none;
}

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Remove Nitro Gift Button from Typing Area in Jp Language */
._201d5e8a3c09670a-button[aria-label="ギフトを贈る"] {
  display: none;
}

/* Rounded Context Menu */
.c1e9c47c23f12ca3-menu,
.colorDefault-CDqZdO {
  border-radius: px;
}

/* user context menu: add note */
#user-context-note,
/* notes */
[class^=note_],
/* notes header in profile panel */
[class^=profilePanel_] [class^=userPanelOverlayBackground_] > div:has([data-text-variant="eyebrow"]):last-of-type,
/* notes header in user popout */
[class^=userPopout] [class^=section_]:has([class^=note_]),
/* notes header in user profile modal*/
[class^=userProfileModal] [class^=userInfoSection_] > h1:last-of-type,
/* last divider before notes in profile panel */
[class^=profilePanel_] [class^=userPanelOverlayBackground_] > [class^=divider_]:not(:has( [class^=divider_])) {
  display: none !important;
}

/* Pop-out Animation For Emoji Menu */
.c1e9c47c23f12ca3-menu,
.c0e32c5cffed3d9f-emojiPicker,
.d98031d9a3e08b09-browser,
.e8b59c4b335dd2fc-messagesPopoutWrap,
._8ef02eea17068b73-wrapper,
.fed6d32841cc2da2-container,
.c8ffbb79449f399c-container,
.container__2692d,
.userPopout-2j1gM4 {
  animation: custom-menu-animation 250ms ease;
  transform-origin: top;
}

@keyframes custom-menu-animation {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

._9293f6b2fc12398a-toolbar .edefb8e22d63c542-anchor:nth-last-child(1) {
  display: none;
}


/* Emoji Auto-Fill Animation */
._13533e3c5791980f-base {
  transition: all 0.5s;
}

._13533e3c5791980f-base:hover {
  transition: all 0s;
  transform: scale(1.02);
}

img.emote {
  text-indent: 0;
  white-space: nowrap;
  width: auto;
  position: relative;
  top: 0.25ex;
}


/* Removes the "Wave to say hi" button */
.welcomeCTAButtonOuter_f5d1e2 {
  display: none;
}
/* Re-round Spotify Status Images */
._2ef4989efde1f4e4-assetsLargeImageSpotify {
  border-radius: 8px;
}

/* Fixes Text Area Roundness */
._740174f3d6a2c8fe-channelTextArea,
.bba88350df28dff1-staticToolbar {
  border-radius: 25px !important;
  
}

/* Fixes Jump to Present Bar Roundness */
._0f481cbbd7530492-jumpToPresentBar  {
  border-radius: 20px !important;
  opacity:100%;
}
form.f75fb00fb7356cbe-form::before {
  display: none;
}

/* Changes the way embeds appear */
._623de82e76ad7f82-embedFull  {
  background-color: var(--background-secondary);
  border: 2px solid var(--background-modifier-accent);
}

/* Removes GUILD Icon */
._85d1663d6a9fc7f6-guildIconV2Container,
.b1f768426adf64d9-rowGuildName>div {
  display: none;
}

._133bf5eea8e33a34-inviteToolbar {
  display: none;
}

/* Changes bolded message color */
[class*=messageContent] :is(h1, h2, h3) {
  color: hsl(0, 0%, 100%)
}

[class*=messageContent] strong {
  color: hsl(0, 0%, 81%);
}

/* Removes Profile Effects */
._0137000bc80ab6ea-profileEffects {
  display: none;
}

/* Add danger colours to dangerous user actions */
#user-context-close-dm, #user-context-remove-friend, #user-context-block, #user-context-timeout, #user-context-kick, #user-context-ban, #message-report, #message-delete, #message-unsuppress-embeds, #guild-context-invite-people, #guild-context-leave-guild, #guild-context-server-lockdown, #guild-header-popout-invite-people, #guild-header-popout-leave, #guild-header-popout-server-lockdown {color: var(--status-danger) }
#user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active, #user-context-timeout:active, #user-context-kick:active, #user-context-ban:active, #message-report:active, #message-delete:active, #message-unsuppress-embeds:active #guild-context-invite-people:active, #guild-context-leave-guild:active, #guild-context-server-lockdown:active, #guild-header-popout-invite-people:active, #guild-header-popout-leave:active, #guild-header-popout-server-lockdown:active {
    background-color:var(--red-500)!important;
    color: var(--white-500)!important;    
}
#user-context-close-dm[class*="focused_"], #user-context-remove-friend[class*="focused_"], #user-context-block[class*="focused_"], #user-context-timeout[class*="focused_"], #user-context-kick[class*="focused_"], #user-context-ban[class*="focused_"], #message-report[class*="focused_"], #message-delete[class*="focused_"], #message-unsuppress-embeds[class*="focused_"], #guild-context-invite-people[class*="focused_"], #guild-context-leave-guild[class*="focused_"], #guild-context-server-lockdown[class*="focused_"], #guild-header-popout-invite-people[class*="focused_"], #guild-header-popout-leave[class*="focused_"], guild-header-popout-server-lockdown[class*="focused_"] {
    background-color: var(--button-danger-background)!important;
    color: var(--white-500);   
}

/* Make jump to present/jump to original/mark as read bars smaller and hug the right */
._0f481cbbd7530492-newMessagesBar {
  width: fit-content;
  margin-left: auto;
}

/* End make jump to present/jump to original/mark as read bars smaller and hug the right */

/* Hides IN VOICE CALL BUTTON*/
[class^=bar__]:has([class^=voiceChannelsIcon__]) {
  display: none;
}

/* Changes the color of the channel list scrollbar */
.theme-dark ._2637a2609f343032-container ._99f8cc7ad4790ce9-thin::-webkit-scrollbar {
  width: 7px;
  background-color: var(--scrollbar-thin-track);
}

/* Removes the Show All VC Button */
.voiceChannelsButton__29444 {
  display: none;
}

/* Fixes Non-Nitro Banner in DMs */
.panelBanner_c3e427 {
  border-radius: 0px !important;
}

/* No, I don't want to make a thread from a chain of more than 2 replies */
[class*="threadSuggestionBar_"] {
  display: none;
}

/* Removes the Dashes in Channel Names */
@font-face {
  font-family: "dashless";
  size-adjust: 100%;
  /*adjust this to change word spacing*/
  src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
  unicode-range: U+002D;
}

[data-list-item-id^=channels___],
/* channel list */
[class^=titleWrapper]>h1,
/* top bar with topic */
[class^=resultChannel],
/* channel name in search */
.channelWithIcon,
/* channel mentions in chat */
[class^=placeholder][class*=slateTextArea],
/* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong,
/* audit log */
.vc-permviewer-perms-title

/* permissionsviewer */
  {
  font-family: "dashless", var(--font-primary);
}

/* Mention Color */
:root[class*=theme] {
  --mention-background: #5f5a6444;
}

/* Replaces the Yellow Mention Color*/
.theme-dark,
.theme-light {
  --background-mentioned: #52535b31;
  --background-mentioned-hover: #52535b18;
}

/* Changes the sidebar color of Mentions */
._5126c0cd07f243a0-mentioned:before {
  background-color: #4e4e4e;
}

/* Changes the Border Radius of Mentions */
._5126c0cd07f243a0-mentioned {
  border-radius: 10px;
}

/* Removes the TOP and BOTTOM Gradient in VC */
.bfe55a0aaaf62375-gradientTop,
.bfe55a0aaaf62375-gradientBottom {
  display: none
}

/* Changes Channel Names */
.b0dfc2ed9c57037d-overflow._2ea32c412048f708-name {
  color: Empty for now;
}

/* Changes the colors of sent messages */
.c19a557985eb7793-cozy .c19a557985eb7793-messageContent {
  color: Empty for now;
}

/* Changes the color of names in the DM list/ Channel Group Names */
._99e7cad8d4c55236-headerText  {
color: var(--channels-default)
}


/* Removes the white line in Channels Tab */
.theme-dark ._9293f6b2fc12398a-children:after {
background: none;
}

/* Adds color to the guild seperator */
._252b6afd49fda06f-guildSeparator {
  border: 1px;
  border-radius: 20px;
  border-color: #52535b;
  border-style: solid;
}

/* Adds color to the account profile card in settings */
._1fed1dd06c7aabf7-accountProfileCard {
  border: 2px;
  border-radius: 20px;
  border-color: #52535b;
  border-style: solid;
}

/* Removes Call Buttons in DMs */ 
[aria-label="Start Voice Call"], [aria-label="Start Video Call"]
{
    display: none !important;
}

/* Timestamps */
@font-face {
  font-family: "Blank Dot";
  src: url("https://raw.githubusercontent.com/adobe-fonts/adobe-blank/master/AdobeBlank.ttf.woff");
  unicode-range: U+2022;
}

/* Removes Emoji name bar */
.aeaaeb2a573807f0-inspector  {
  display: none
}

/* removes the add role button */
._48c1c0768f2a2421-addButton {
  display: none
}

/* Removes the Banner in Profiles Tab */
._8279f38edc620354-container {
  display: none;
}

/* Removes New Member Icon */
[class*=newMemberBadge i]{
  display: none;
}

/* Hide Future signups */
[data-list-id="guildsnav"]>div>div>div:has(div[style*="background: url(\"https://cdn.discordapp.com/assets/signups"]) {display:none}

._16eb0bfd5c5a90d1-searchOption::after,
._16eb0bfd5c5a90d1-option::after {
  display: none; 
}

/* Link Colors */

.edefb8e22d63c542-anchor {
   color: rgb(177, 177, 177) !important;
   background-color: transparent
}

.actionsUserPopoutV2__34f7d {
  justify-content: center
}

/* Centers the Status in User Panel */
._37e49614b9f110a9-nameTag ._0263c8321829b3e8-hoverRoll  {
  display: none;
}

._00943886e1cf89d1-largeImage 
{border-radius:4px !important;
} 

.customStatus_cb55fc {
  justify-content: center !important;
}

._5ec2fb8b5de26b21-searchBar,
.c322aadb96ff59c9-searchBar   {
  background-color: var(--background-tertiary) !important;
}

.a16aea1526925c2c-select {
background-color: var(--background-primary) !important;
border: 0px;
}

/* Hides the Info Cards at the top of the Vencord Plugin/Theme tabs */
.vc-settings-card,
.vc-plugins-info-card {
  display: none; 
}

.a16aea1526925c2c-select,
.lookFilled__3f413 {
background-color: var(--background-tertiary) !important;
}

.c69b6db0641110f6-containerDefault:hover + ._5b40bdd67543ba35-container {
  max-height: 100%; /* Make the threads Slide down */
  transition: max-height 4s ease; }

._5b40bdd67543ba35-container {
  max-height: 0; /* Initially hide the threads by setting their max-height to 0 */
  overflow: hidden; 
  transition: max-height 4s ease; }


  /* Remove VC Icons */
[class*=iconGroup]:has([class*=hangStatusIcon], svg>path:not([d*='m2.7 22.7 20-20a1'], [d*='M22.7 2.7a1 1']), [class*=gameIcon]) {
  display: none;
}
[class*=layerContainer] [class*=popout]:has([class*=text-xs-medium], [class*=options]){
  display: none;
}

.vc-std-wrapper > div {
  color: transparent !important;
}

.vc-std-wrapper > div > span {
  color: rgb(255, 123, 0);
  font-size: 0.75rem;
  font-weight: 500;
  margin-left: -px;
}

  /* User Area Icon Recolor */
._5e434347c823b592-panels ._5eb9b3cc7c2b1ce8-lottieIcon :not(defs *)[fill][fill-opacity] {
  fill: white;
}
._5eb9b3cc7c2b1ce8-lottieIcon > svg > g > g > g:nth-child(1) > g > g:nth-child(2) > g:nth-child(2) > path {
  stroke: white;
}

[class^="votePercentageBar_"] {
    background-color: rgb(82, 83, 91);
}

/* Removes "Members Since" */ 
.userPopoutOverlayBackground_c69a7b .section_d7a21f:has(.c4eb81cf68103ccf-memberSinceWrapper) {
  display: none;
}

/* Fixes Bolded Bot Text */
[class*=botText] {
    font-weight: 500;
}

/* Centers the Nametag */
._37e49614b9f110a9-nameTag {
  text-align: center;
}


/* New VC Indicator */
.container_cfbfb9 {
border-radius: 10px !important;
}
.container_be6a5c {
  border-radius: 20px !important;
}
.gradientContainerDark_e286cd,
.image_cfbfb9 {
border-radius: 30px !important;
}
.header_be6a5c {
  justify-content: center !important; 
}

/* Fixes Discord's Shitty Profile Text Color */
._4bd5201c86a2042b-defaultColor,
.customStatusText_cb55fc {
  color: rgba(255, 255, 255, 0.842) !important;
}

.vc-uvs-header {
  text-align: center; 
}

/* Removes the bold on the 'Active Now' header */ 
._7d20cf18f8a2784c-header {
  font-weight: 400 !important;
}

/* Removes the bold on Names */
._63ed30c16c7151f2-nickname  {
  font-weight: 300 !important;
}

.f369dba7416c67f0-matchingPostsRow {
  border-radius: 10px !important;
  margin-top:10px !important;
}

/* Quest Box */
._0bd12176bed6b72a-container {
  border-radius: 10px !important;
  margin-top: 10px !important;
}

[class="_4bd5201c86a2042b-defaultColor text-sm/normal_dc00ef"] {
  text-align: center !important;
}

.inner_a99829 {
  display: none;
}

._7e549558f336cddb-itemCard {
  background-color: var(--background-secondary);
}

/* Recolors Non-Nitro Profiles */
.biteSizeInnerThemed_c69a7b,
.userProfileModalInner_c69a7b  {
background-color: var(--background-tertiary)
}
.fullSizeOverlayBackground_c69a7b  {
  background-color: rgba(0, 0, 0, 0.452);
}

.fccfdf3cfff21921-root {
margin: 8px 12px;
justify-content: center;
}

.statusBubbleShape_af9888,
.statusBubbleOuter_af9888  {
  display: none;
}

._43a4bee62f79b268-container {
  align-items: center;
}

._5bc7ed9d4097f6b5-circleIcon {
  color: var(--brand-experiment) !important;
}

._5bc7ed9d4097f6b5-selected {
  background-color: rgb(41, 41, 41) !important; 
}

._6e9f8dce4cc18de3-wrapper:hover ._6e9f8dce4cc18de3-childWrapper, ._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected .childWrapper_f90ab  {
  background-color: rgb(41, 41, 41) !important; 
}

._6e9f8dce4cc18de3-wrapper:hover ._6e9f8dce4cc18de3-childWrapper, ._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper {
    color: var(--white);
    background-color: rgb(41, 41, 41) !important;
}

.c9fddf1bcf4bcde5-ring {
  color: var(--brand-experiment) !important;;
}


.f7ecaca5c80dbf3a-button {
  border-radius: 10px;
}

[aria-label="Show User Profile"] {
  display: none;
}

.ae7890a1b8e75804-searchHeader {
  border-radius: 0px;
}


._133bf5eea8e33a34-tabBar ._133bf5eea8e33a34-item:nth-last-child(2) {
  display: none;
}

.f37cb1984c371ee5-animatedContainer {
  border-radius: 10px !important;
}

._5be3ef42f92174b2-footer .button_fb7f94  {
  display: none;
}

._63ed30c16c7151f2-nicknameIcons {
  display: none;
}

.multipleButtons_ea99c4 {
  display: none;
}

._7aaec78b97ff00f7-container {
  display: none;
}

.f5f93a5c4078d63c-descriptionClamp ._752971923a1e6683-blockquoteContainer {
  justify-content: center !important;
}

[class="_4bd5201c86a2042b-defaultColor text-sm/normal_dc00ef"] ._752971923a1e6683-blockquoteContainer {
  justify-content: center; 
}

.accountProfilePopoutWrapper__37e49 ._8061a5f9dbf6d829-container {
  display: none;
}

.accountProfilePopoutWrapper__37e49 ._63ed30c16c7151f2-container {
  display: none;
}

/* Removes "X" Button From Family Center */
._972a0d22c8afa7f0-closeIcon, div._972a0d22c8afa7f0-closeButton  {
  display: none !important; 
}


/* Centers Family Center Text */
.dc2e0e7839a6713a-sideNavContent {
  margin: 350px !important;
  margin-top: -30px !important;

}

._972a0d22c8afa7f0-link ._2b1f52e43a8f1c02-numberBadge {
  display: none;
}
._133bf5eea8e33a34-item ._2b1f52e43a8f1c02-numberBadge {
  display: none;
}

.c19a557985eb7793-repliedTextPreview {
  border-radius: 0px !important;
}

.b5493bb5330ab072-card ._4bd5201c86a2042b-defaultColor  {
  text-align: center;
}


/* remove super reactons */
.a9ddb3f9f511689f-effectsWrapper, .e5f2cb44095833d3-effect {
    display: none !important;
}

.f8896c4f6be18f59-burstGlow, ._23977d5b7cef7361-burstGlow {
    box-shadow: none !important;
}
._23977d5b7cef7361-hideEmoji, .f8896c4f6be18f59-hideEmoji {
    opacity: 1 !important;
}
._23977d5b7cef7361-reaction._23977d5b7cef7361-shakeReaction, .f8896c4f6be18f59-reaction.f8896c4f6be18f59-shakeReaction {
    animation: unset !important;
}
